
.minha-pokedex{
    padding: 8px;
    background-color: #D9D9D9;
    max-width: 18rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardpokemon > * {
    width: 43vh;
    text-align: center;
    text-transform: uppercase;
}

.cardpokemon{
    height: 45vh;
    width: 45vh;
    margin:  10px 0;
    border-radius: 20px;
    background-color: #E9ECF5;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardpokemon:hover{
    transform: scale(1.03);
    transition: transform 200ms ease-in-out;
}

.cardpokemon > img{
    height: 35vh;
    width: 100%;
    border-radius: 20px;

}

#card_pokemon > * {
    text-decoration: none;
    color: inherit;
}

#card_pokemon{
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#main_bloco_notas{
    padding: 50px 100px;
}