body{
    margin: 0%;
    padding: 0%;
    background-color: #3C5AA6;
}


h2{
    background-color: #D9D9D9;
    margin: 2rem 0 0 2rem;
    padding: 0.5rem;
    max-width: 18rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardpokemon > * {
    width: 43vh;
    text-align: center;
    text-transform: uppercase;
}

.cardpokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45vh;
    width: 45vh;
    margin: 2rem;
    margin-inline-end: 15px;
    border-radius: 20px;
    padding: 0%;
    background-color: bisque;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.cardpokemon > img{
    height: 35vh;
    width: 100%;
    border-radius: 50px;

}

#card_pokemon{
    display: flex;
    flex-wrap: wrap;
}
