.container-principal{
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px 30px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* Parte esquerda da pagina*/
.col-esquerda{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-img img {
    width: 400px;
    height: auto;
    background-color: #fff;
    border-radius: 5%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.pokemon-tipos{
    display: flex;
    margin-top: 10px;
    gap: 30px;
}

.pokemon-tipos .tipo{
    display: inline-block;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    color: white;
    padding: 5px 40px;
    font-size:25px;
    font-weight: 500;
}

/*Parte direita da pagina */
.col-direita{
    flex: 2;
}

.pokemon-header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.nome-e-numero {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#pokemon-nome {
    font-weight: 1000;
    font-size: 35px;
}

.numero {
    color: var(--dark-b);
    font-weight: 500;
    font-size: 40px;
}

.btn-salvar{
    background: var(--electric-h);
    color: #000;
    font-weight: 1000;
    font-size: 23px;
    margin-top: 5px;
    border: none;
    padding: 4px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.descricao {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px;
}

.detalhes {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 30px;
    padding: 20px;
}

/*Parte inferior do site(evolucoes)*/
.evolucoes {
    background: #fff;
    border-radius: 25px;
    border: 4px solid var(--grass-h);
    padding: 20px;
    width: 100%;
    margin-top: 30px;
}

.linha-evolucao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.evolucao {
    text-align: center;
}

.evolucao img {
    width: 150px;
    height: auto;
    transition: transform 0,2s ease;
}

.evolucao img:hover {
    transform: scale(1.05);
}

.seta{
    font-size: 4rem;
}