#input_select_region{
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    color: aliceblue;
    background-color: rgb(9, 15, 45);
    text-align: center;
    margin: 0;
    outline: none;
    border: none;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.418), 0 6px 20px 0 rgba(0, 0, 0, 0.418);
    font-size: 1.7rem;
}

#input_select_region * {
    font-size: 0.9rem;
}

#tipo-list{
    padding: 50px 100px;
}

.container_tipo{
    margin-bottom: 3%;
    border-radius: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.418), 0 6px 20px 0 rgba(0, 0, 0, 0.418);
}

.text_tipo{
    text-align: center;
    letter-spacing: 10px;
    margin-left: 12px;
}

.icon_tipo{
    justify-content: center;
    text-align: center;
}

.header_tipo{
    color: white;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
    height: 12vh;
    font-size: 2.2vh;
}

.body_tipo{
    padding: 20px 5px;
    display: flex;
    justify-content: space-evenly;
}

.card_pokemon > * {
    /* width: 43vh; */
    text-align: center;
    text-transform: uppercase;
    border-radius: 20px
}



.link-card{
    margin-top: 5px;
    color: black;
    height: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_pokemon{
    height: 100%;
    width: 40vh;
    margin-inline: 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #E9ECF5;
    text-decoration: none;
    padding: 15px 0;
}

.card_pokemon:hover{
    transform: scale(1.03);
    transition: transform 200ms ease-in-out;
}

.card_tipo_vazio{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.681);
    border-radius: 10px;
    padding:5px;
    height: 45vh;
}

.icon_btn_card{
    width: 2.5vh;
    padding: 2px;
    margin: 5px;
}

.btn_card{
    width: 5vh;
    margin-inline: 10px;
    border-radius: 50px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(255, 0, 0, 0);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn_card:hover{
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgba(94, 94, 94, 0.459);
    transition: transform 200ms ease-in-out;
}

.img_icon_tipo{
    border-radius: 50px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
main {
    flex-grow: 1;
} 

.text-link-card{
    font-size: 2.3rem;
    letter-spacing: 2px;
}

.link-card-img{
    height: 80%;
}

.footer-tipo{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.7%;
    border-radius: 0 0 20px 20px;
    color: white;
    min-height: 8vh;
    max-height: 12vh;
    font-size: 2.3vh;
    align-items: center;
}

.footer-tipo > * {
    margin-inline: 0.5vh;
}