* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

:root{
    --normal-h:#919AA2; --normal-c:#CFCFAD; --normal-b:#E8E8D5;
    --fire-h:#FF9D55;   --fire-c:#F3B58E;   --fire-b:#FFB57F;
    --water-h:#5090D6;  --water-c:#A9BEF3;  --water-b:#6FAAE9;
    --electric-h:#F4D23C;--electric-c:#F1DB6A;--electric-b:#FFDB3FCF;
    --grass-h:#63BC5A;  --grass-c:#A9D495;  --grass-b:#99C994;
    --ice-h:#73CEC0;    --ice-c:#BFE6E6;    --ice-b:#9AD7CD;
    --fighting-h:#8C201B;--fighting-c:#D99895;--fighting-b:#F2D1CF;
    --poison-h:#B567CE; --poison-c:#D7A8D6; --poison-b:#D98CF1;
    --ground-h:#D97845; --ground-c:#E4D19A; --ground-b:#E48E61;
    --flying-h:#89AAE3; --flying-c:#C6DBFECF; --flying-b:#C1B6F5;
    --psychic-h:#FA7179;--psychic-c:#F7A2BE;--psychic-b:#FF959B;
    --bug-h:#91C12F;    --bug-c:#D1E089;    --bug-b:#D1FF72CF;
    --rock-h:#C5B78C;   --rock-c:#D3C58D;   --rock-b:#D2C7A7;
    --ghost-h:#5269AD;  --ghost-c:#B7AECF;  --ghost-b:#6275ABCF;
    --dragon-h:#0B6DC3; --dragon-c:#B8A8F4; --dragon-b:#3989CFCF;
    --dark-h:#5A5465;   --dark-c:#B8AA9E;   --dark-b:#877B9CCF;
    --steel-h:#5A8EA2;  --steel-c:#CFCFE0;  --steel-b:#8EBACBCF;
    --fairy-h:#EC8FE6;  --fairy-c:#F0B9D6;  --fairy-b:#E9C6E7CF;
}


.container{
    background-color: var(--grass-h);
    display: flex;
    gap: 30px;
    padding: 20px;
}

.col-esquerda{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-img img {
    width: 400px;
    height: auto;
    border-radius: 5%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.pokemon-tipos{
    display: flex;
    margin-top: 10px;
    gap: 30px;
}

.pokemon-tipos .tipo{
    display: inline-block;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    color: white;
    padding: 5px 20px;
    font-size:25px;
    font-weight: 500;
}