#input_select_region{
    width: 100%;
    padding: 20px;
    text-transform: uppercase;
    color: aliceblue;
    background-color: black;
    text-align: center;
}

.container_tipo{
    margin-bottom: 10px;
    padding: 20px;
    height: 50vh;
    display:flex;
    margin: 0;
    background-color: aqua;
}