.container-principal{
    width: 95%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px 30px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* Parte esquerda da pagina*/
.col-esquerda{
    flex: 1;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

/*Parte direita da pagina */
.col-direita{
    flex: 2;
}

.pokemon-img > *{
    height: 100%;
}

.pokemon-img{
    /* width: 400px; */
    height: 73%;
    background-color: #fff;
    border-radius: 5%;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.pokemons_container_tipos{
    height: 7%;

}
.pokemon-tipos{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 30px;
}

.pokemon-tipos .tipo{
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    color: white;
    padding: 5px 40px;
    font-size:25px;
    font-weight: 500;
}

.pokemon-header{
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.nome-e-numero {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#pokemon-nome {
    font-weight: 1000;
    font-size: 2.2rem;
    letter-spacing: 5px;
}

.numero {
    color: var(--dark-b);
    font-weight: 500;
    font-size: 40px;
}

.btn-salvar{
    display: flex;
    align-items: center;
    background: var(--electric-h);
    color: #000;
    font-weight: 1000;
    font-size: 23px;
    margin-top: 5px;
    border: none;
    padding: 4px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.descricao-habilidades{
    height: 20%;
    width: 100%;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
    font-size: 1rem;
    letter-spacing: 1.5px;
}

.descricao {
    height: 30%;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.detalhes {
    height: 50%;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 10px;
    padding: 20px;
}

/*Parte inferior do site(evolucoes)*/
.evolucoes {
    font-size: 1.5rem;
    background: #fff;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    margin-top: 30px;
}

.linha-evolucao {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.evolucao {
    text-align: center;
}

.evolucao img {
    width: 150px;
    height: auto;
    transition: transform 0,2s ease;
}

.evolucao img:hover {
    transform: scale(1.05);
}

.seta{
    font-size: 4rem;
}

#base_stats{
    padding-top: 10px;
}

.container-base-static{
    display: flex;
    width: 100%;
    margin-bottom: 12px;
    align-items: center;
}

.name_stats{
    font-size: 17px;
}

.bar {
    --value: 0%;
    --color: #00c853;
    width: 100%;
    height: 18px;
    border-radius: 90px;

    background:
        linear-gradient(to right,
        var(--color) 0,
        var(--color) var(--value),
        #e5eaef var(--value),
        #e5eaef 100%);
}

#pokemon_habilidades{
    font-size: 1.2rem;
    padding-inline: 2rem;
}

.text-evolutions{
    text-align: center;
}

.evolution-component > *{
    text-decoration: none;
    color: black;
}

#pokemon_descricao{
    padding: 10px;
}

.tipo{
    display: flex;
    align-items: center;
}

.text_tipo_pokemon{
    margin-inline: 10px;
    letter-spacing: 2px;
}

#salvar-btn, .habilidade_text, .tipo_container, .evolution-component{
    transition: all 0.3s ease;
    cursor:  default;
}
#salvar-btn:hover, .tipo_container:hover, .habilidade_text:hover, .evolution-component:hover{
    transform: scale(1.03);
    transition: transform 200ms ease-in-out;
}

