.select-region{
    color: aliceblue;
    background-color: rgb(9, 15, 45);
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.418), 0 6px 20px 0 rgba(0, 0, 0, 0.418);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
}

.card-regiao{
    width: 20%;
    color: black;
    text-decoration: none;
}

.div_card_regiao{
    width: 55vh;
    min-height: 40vh;
    max-height: 60vh;
    border-radius: 20px;
    margin-bottom: 2%;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.418), 0 6px 20px 0 rgba(0, 0, 0, 0.418);
    padding: 1.5%;
    text-align: center;
    background-color: antiquewhite;
}

#region-list{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 100px;
    justify-content: space-between;

}

.img-card-regiao{
    width: 100%;
    height: 23vh;
    border-radius: 20px 20px 0 0;
}

.text-container-card-regiao{
    padding: 10px;
    height: 150px;
}

.div_card_regiao:hover{
    transform: scale(1.03);
    transition: transform 200ms ease-in-out;
}

.title-card-regiao{
    text-transform: uppercase;
    font-size: 1.3rem;
}

.description-card-regiao{
    font-size: 1.2rem;
}


.container_regiao{
    margin-bottom: 10px;
    height: 40vh;
    display:flex;
}

.text-container{
    width: 50%;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 20px;
}

.text-link-region{
    width: 8%;
    margin-inline: 10px 30px;
    color: aliceblue;
    text-decoration: none;
}

.text-link-region:hover{
    color: rgb(152, 0, 0);
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
}
