<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloco de notas</title>
    <link rel="icon" type="image/png" href="/public/icons/pokemon_icon.png">
</head>
<body>
        <section id="extends-header"></section>
        <main>
            <h2>Minha pokedex</h2>
             <div id="card_pokemon" >
           
                </div> 
             </div> 
        </main>
        <section id="extends-footer"></section>  
        <script type="module" src="/src/app.js"></script>
        <script src="/src/assets/js/bloco_notas.js" ></script>
</body>
</html>
