<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bloco de notas</title>

    <link rel="stylesheet" href="/src/assets/css/style.css">
    <link rel="icon" type="image/png" href="/public/icons/pokemon_icon.png">
    <link rel="stylesheet" href="/src/assets/css/footer.css">
    <link rel="stylesheet" href="/src/assets/css/bloco_de_notas.css">
</head>
<body>
        <section id="extends-header"></section>
        <main>
            <h2>Minha pokedex</h2>
        </main>
        <section id="extends-footer"></section>  
        <script src="/src/app.js"></script>
        <script src="/src/assets/js/tipos.js" ></script>
</body>
</html>