
<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <title>Pokedex</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="icon" type="image/png" href="/public/icons/pokemon_icon.png">
        <link rel="stylesheet" href="/src/assets/css/footer.css">
</head>
<body>
    <section id="extends-header"></section>
        <main>
            <select name="input_select_region" id="input_select_region">
                <option value="Kanto">Kanto</option>
            </select>
            <section id="tipo-list"></section>
        </main>
        <section id="extends-footer"></section>
        <main>

        </main>    
        <script src="/src/app.js"></script>
        <script src="/src/assets/js/tipos.js" ></script>
</body>
</html>