
<!DOCTYPE html>
<html lang="pt-br">
<head>
        <meta charset="UTF-8">
        <title>Pokedex</title>
        <link rel="icon" type="image/png" href="/public/icons/pokemon_icon.png">
</head>
<body>
    <section id="extends-header"></section>
        <main>
            <select name="input_select_region" id="input_select_region">
                <option value="kanto">Kanto</option>
                <option value="johto">Johto</option>
                <option value="hoenn">Hoenn</option>
                <option value="sinnoh">Sinnoh</option>
                <option value="unova">Unova</option>
                <option value="kalos">Kalos</option>
                <option value="alola">Alola</option>
                <option value="galar">Galar</option>
                <option value="hisui">Hisui</option>
                <option value="paldea">Paldea</option>
            </select>
            <section id="tipo-list"></section>
        </main>
        <section id="extends-footer"></section>

        <script type="module" src="/src/app.js"></script>
        <script type="module" src="/src/assets/js/pokedex.js" ></script>
</body>
</html> 