<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <link rel="icon" type="image/png" href="../../public/icons/pokemon_icon.png">
    <link rel="stylesheet" href="/src/assets/css/style.css">
</head>

<body>
    <section id="extends-header"></section>

    <main class="pokemon-detalhes">
        <div class="container-principal">
            <div class="container">
                <div class="col-esquerda">
                    <div class="pokemon-img" >
                        <img id="pokemon-img"  onerror="this.src='/public/images/img_nao_carregada.png';">
                    </div>

                    <div class="pokemon-tipos" id="pokemon_tipos">
                        
                    </div>
                </div>

                <div class="col-direita">
                    <div class="pokemon-header">
                        <div class="nome-e-numero">
                            <h1 id="pokemon-nome">Bulbassaur</h1>
                            <span class="numero" id="pokemon_numero">#001</span>
                        </div>
                        <button id="salvar-btn" class="btn-salvar">Salvar</button>
                    </div>

                    <div class="descricao">
                        <h2>Descrição</h2>
                        <p id="pokemon_descricao">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis
                            nostrud
                            exercitation ullamco laborisLorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim
                            ad minim veniam, quis
                            nostrud
                            exercitation ullamco laboris.</p>
                    </div>

                    <div class="detalhes">
                        <h2>Status Base</h2>
                        <div id="base_stats">
                        </div>
                        <div class="container-base-static">
                            <h5 style="width:20%; text-align: end; " class="name_stats"> Total: </h5>
                            <h5 style="width:8%;  text-align: center;" class="name_stats" id="total_stats"> 100 </h5>
                            <div style="width: 100%;" > </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Seção das evoluções -->
            <section class="evolucoes">
                <h2>Evoluções</h2>
                <div class="linha-evolucao">
                    <div class="evolucao">
                        <img src="../../public/images/bulbassaurparateste.png" alt="evolucao1">
                        <p>Bulbassaur</p>
                    </div>
                    <span class="seta">→</span>
                    <div class="evolucao">
                        <img src="../../public/images/bulbassaurparateste.png" alt="evolucao1">
                        <p>Bulbassaur</p>
                    </div>
                    <span class="seta">→</span>
                    <div class="evolucao">
                        <img src="../../public/images/bulbassaurparateste.png" alt="evolucao1">
                        <p>Bulbassaur</p>
                    </div>
                </div>
            </section>
        </div>
    </main>

    <section id="extends-footer"></section>
    <script type="module" src="/src/app.js"></script>
    <script type="module" src="/src/assets/js/pokemon.js"></script>
</body>

</html>