
<!--Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

<!-- css principal -->
<link rel="stylesheet" href="/src/assets/css/style.css">

<header>
    <div class="interface">

        <div class="logo">
            <a href="/" >
                <img src="/public/icons/pokemon_icon.png" alt="LogoPokemon">
            </a>
        </div>

        <section class="teasdf">
            <input type="text" name="pesquisar" id="pesquisar">
        </section>

        <section class="menu-desktop">
            <nav>
                <ul>
                    <li><a class="txt-header-nav" href="/">Inicio</a></li>
                    <li><a class="txt-header-nav" href="/src/views/pokedex.html?regiao=kanto">Pokedex</a></li>
                    <li><a class="txt-header-nav" href="/src/views/bloco_notas.html">Bloco de Notas</a></li>
                </ul>
            </nav>
        </section>
    </div>
</header>