
<!--Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet">

<!-- css principal -->
<link rel="stylesheet" href="/src/assets/css/style.css">

<header>
    <div class="interface">

        <div class="logo">
            <a href="/" >
                <img src="/public/icons/pokemon_icon.png" alt="LogoPokemon">
            </a>
        </div>

        <div class="container-pesquisar">
            <input type="search" name="pesquisar" id="pesquisar">
            <ul id="lista_pesquisar" ></ul>
        </div>

        <nav class="menu-desktop">
            <ul class="menu-ul-desktop">
                <li><a class="txt-header-nav" href="/">Inicio</a></li>
                <li><a class="txt-header-nav" href="/src/views/pokedex.html?regiao=kanto">Pokedex</a></li>
                <li><a class="txt-header-nav" href="/src/views/bloco_notas.html">Bloco de Notas</a></li>
            </ul>
        </nav>
    </div>
</header>